In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import FastICA
%matplotlib inline

In [2]:
data = pd.read_csv("D://New folder//ML//Completed//SurveyData.csv")
data.head()

   rating  complaints  privileges  learning  raises  critical  advance
0      43          51          30        39      61        92       45
1      63          64          51        54      63        73       47
2      71          70          68        69      76        86       48
3      61          63          45        47      54        84       35
4      81          78          56        66      71        83       47

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rating      30 non-null     int64
 1   complaints  30 non-null     int64
 2   privileges  30 non-null     int64
 3   learning    30 non-null     int64
 4   raises      30 non-null     int64
 5   critical    30 non-null     int64
 6   advance     30 non-null     int64
dtypes: int64(7)
memory usage: 1.8 KB

In [4]:
ICA = FastICA(n_components=2)
IndependentComp_values = ICA.fit_transform(data.values)

In [6]:
reducedata = pd.DataFrame(data=IndependentComp_values, columns=['IC1','IC2'])
reducedata.head()

        IC1       IC2
0  1.086712 -1.771340
1  0.003959 -1.450328
2 -4.066665 -1.368199
3  3.432095 -1.414591
4 -0.610548 -1.211875